package ${packageName}.repository;

import ${packageName}.model.entity.${tableInfo.className};
import org.babyfish.jimmer.spring.repository.JRepository;

public interface ${tableInfo.className}Repository extends JRepository<${tableInfo.className}, #foreach ($item in $list)#if(${item.key} == 'PRI')$item.columnType#end#end> {
}